/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* Normal line-height'ının 1.7 katı... */
    color : #777;
    padding : 30px;
}

.header {

    height: 95vh; /* vh: viewport height, 95vh => %95 of viewport height */

    /* imajlar üzerine bir overlay eklemek istersen, background-image kısmına virgülle onu ekleyebilirsin */
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.8)),
        url('../img/hero.jpg');

    background-size: cover; /* içinde bulunduğun elemana göre adapte et kendini. */
    background-position: top; /* container siz değiştiğinde resmin üst kısmını görünür kıl */

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    position: relative;

}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.heading-primary {
    position: absolute;
    color : #fff;
    text-transform: uppercase;
    top : 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* To prevent the shakiness at the end of the animations.*/
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation: moveInRight 1s ease-out;
}

/* Performans gerekçesiyle aynı anda sadece iki özelliği anime et.*/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}